---
BasedOnStyle: LLVM
AccessModifierOffset: '-4'
AlignConsecutiveAssignments: 'false'
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AlwaysBreakTemplateDeclarations: 'Yes'
BreakConstructorInitializers: BeforeComma
ColumnLimit: '100'
CompactNamespaces: 'false'
IncludeBlocks: Preserve
IndentWidth: '4'
PenaltyBreakTemplateDeclaration: '0'
PointerAlignment: Left
SpaceAfterTemplateKeyword: 'true'
Standard: Cpp11
TabWidth: '4'
UseTab: ForContinuationAndIndentation
BinPackArguments: 'false'
BinPackParameters: 'false'
AllowAllArgumentsOnNextLine: 'false'
AllowAllParametersOfDeclarationOnNextLine: 'false'

...
